<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css"
</head>
<body>
  {{>navbar}}
    {{!-- <form action="/login" method="post">
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form> --}}

<div id="login" style="display: flex;
  justify-content: center;">
  <form id="login_form"  action="/login" method="post">
    <div class="field_container">
      <input type="text" placeholder="Email Address" name="email" required>
    </div>
    
    <div class="field_container">
      <input type="text" placeholder="Password" name="password" required>
      <button id="sign_in_button">
        <span class="button_text">Sign In</span>
      </button>
    </div>
    
    <div id="sign_in_options" class="field_container">
       
        <div id="remember_me_container">
          <input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
          <label class="login_link" for="user_remember_me" id="remember_me_label">stay signed in</label>
        </div>
        <div class="clearfix"></div>
      </div>
</form>
  
  <div id="dont_have_an_account">
  
  </div>
</div>

</body>
</html>